**/.idea/
**/*.iml
**/*.ipr
**/*.iws
**/.tmp/
**/.DS_Store

file-manager-api/target/

file-manager-ui/node_modules/
file-manager-ui/bower_components/
file-manager-ui/coverage/
file-manager-ui/.sass-cache/
file-manager-ui/dist/
file-manager-ui/e2e/.eslintrc
file-manager-ui/gulp/.eslintrc